<?xml version='1.0' encoding='UTF-8'?>
<hudson>
    <clouds>
        <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@0.8">
            <name>someCloud</name>
            <templates>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <image>somedomain.com:5000/dockerbuild</image>
                    <dockerCommand>/usr/bin/start-jenkins-slave.sh</dockerCommand>
                    <lxcConfString></lxcConfString>
                    <hostname></hostname>
                    <dnsHosts>
                        <string>8.8.8.8</string>
                    </dnsHosts>
                    <volumes>
                        <string>/dev/log:/dev/log</string>
                    </volumes>
                    <volumesFrom></volumesFrom>
                    <bindPorts></bindPorts>
                    <bindAllPorts>false</bindAllPorts>
                    <bindSshPortLocalhost>true</bindSshPortLocalhost>
                    <privileged>true</privileged>
                    <labelString>dockerbuild-local</labelString>
                    <credentialsId>com.nirima.jenkins.plugins.docker.DockerCloud.dockerbuild</credentialsId>
                    <idleTerminationMinutes>10</idleTerminationMinutes>
                    <jvmOptions></jvmOptions>
                    <javaPath></javaPath>
                    <prefixStartSlaveCmd></prefixStartSlaveCmd>
                    <suffixStartSlaveCmd></suffixStartSlaveCmd>
                    <remoteFsMapping></remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>1</instanceCap>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <image>somedomain.com:5000/dockerbuild-vpn</image>
                    <dockerCommand></dockerCommand>
                    <lxcConfString></lxcConfString>
                    <hostname></hostname>
                    <dnsHosts>
                        <string>8.8.8.8</string>
                    </dnsHosts>
                    <volumes>
                        <string>/dev/log:/dev/log</string>
                    </volumes>
                    <volumesFrom></volumesFrom>
                    <bindPorts></bindPorts>
                    <bindAllPorts>false</bindAllPorts>
                    <bindSshPortLocalhost>true</bindSshPortLocalhost>
                    <privileged>true</privileged>
                    <labelString>dockerbuild-vpn-local</labelString>
                    <credentialsId>com.nirima.jenkins.plugins.docker.DockerCloud.dockerbuild-vpn</credentialsId>
                    <idleTerminationMinutes>10</idleTerminationMinutes>
                    <jvmOptions></jvmOptions>
                    <javaPath></javaPath>
                    <prefixStartSlaveCmd></prefixStartSlaveCmd>
                    <suffixStartSlaveCmd></suffixStartSlaveCmd>
                    <remoteFsMapping></remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>1</instanceCap>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <image>somedomain.com:5000/dockerbuild-vpn:22</image>
                    <dockerCommand>/usr/bin/start-jenkins-slave.sh</dockerCommand>
                    <lxcConfString></lxcConfString>
                    <hostname></hostname>
                    <dnsHosts>
                        <string>8.8.8.8</string>
                    </dnsHosts>
                    <volumes>
                        <string>/dev/log:/dev/log</string>
                    </volumes>
                    <volumesFrom></volumesFrom>
                    <bindPorts></bindPorts>
                    <bindAllPorts>false</bindAllPorts>
                    <privileged>true</privileged>
                    <privileged>true</privileged>
                    <labelString>dockerbuild-vpn-local-fix</labelString>
                    <credentialsId>com.nirima.jenkins.plugins.docker.DockerCloud.dockerbuild-vpn</credentialsId>
                    <idleTerminationMinutes>5</idleTerminationMinutes>
                    <jvmOptions></jvmOptions>
                    <javaPath></javaPath>
                    <prefixStartSlaveCmd></prefixStartSlaveCmd>
                    <suffixStartSlaveCmd></suffixStartSlaveCmd>
                    <remoteFsMapping></remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>1</instanceCap>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <image>somedomain.com:5000/dockerbuild-wlp:latest</image>
                    <dockerCommand>/usr/bin/start-jenkins-slave.sh</dockerCommand>
                    <lxcConfString></lxcConfString>
                    <hostname></hostname>
                    <dnsHosts>
                        <string>8.8.8.8</string>
                    </dnsHosts>
                    <volumes>
                        <string>/dev/log:/dev/log</string>
                        <string>/tmp/jenkins/cache:/var/cache/build</string>
                        <string>/tmp/jenkins/tmp:/tmp/build</string>
                    </volumes>
                    <volumesFrom></volumesFrom>
                    <bindPorts></bindPorts>
                    <bindAllPorts>false</bindAllPorts>
                    <bindSshPortLocalhost>true</bindSshPortLocalhost>
                    <privileged>true</privileged>
                    <labelString>dockerbuild-wlp</labelString>
                    <credentialsId>com.nirima.jenkins.plugins.docker.DockerCloud.dockerbuild</credentialsId>
                    <idleTerminationMinutes>5</idleTerminationMinutes>
                    <jvmOptions></jvmOptions>
                    <javaPath></javaPath>
                    <prefixStartSlaveCmd></prefixStartSlaveCmd>
                    <suffixStartSlaveCmd></suffixStartSlaveCmd>
                    <remoteFsMapping></remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>5</instanceCap>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <image>somedomain.com:5000/dockerbuild-golang:latest</image>
                    <dockerCommand>/usr/bin/start-jenkins-slave.sh</dockerCommand>
                    <lxcConfString></lxcConfString>
                    <hostname></hostname>
                    <dnsHosts>
                        <string>8.8.8.8</string>
                    </dnsHosts>
                    <volumes>
                        <string>/dev/log:/dev/log</string>
                    </volumes>
                    <volumesFrom></volumesFrom>
                    <bindPorts></bindPorts>
                    <bindAllPorts>false</bindAllPorts>
                     <bindSshPortLocalhost>true</bindSshPortLocalhost>
                    <privileged>true</privileged>
                    <labelString>dockerbuild-golang</labelString>
                    <credentialsId>com.nirima.jenkins.plugins.docker.DockerCloud.dockerbuild</credentialsId>
                    <idleTerminationMinutes>5</idleTerminationMinutes>
                    <jvmOptions></jvmOptions>
                    <javaPath></javaPath>
                    <prefixStartSlaveCmd></prefixStartSlaveCmd>
                    <suffixStartSlaveCmd></suffixStartSlaveCmd>
                    <remoteFsMapping></remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>4</instanceCap>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
                <com.nirima.jenkins.plugins.docker.DockerTemplate>
                    <image>somedomain.com:5000/dockerbuild-gorupy:latest</image>
                    <dockerCommand>/usr/bin/start-jenkins-slave.sh</dockerCommand>
                    <lxcConfString></lxcConfString>
                    <hostname></hostname>
                    <dnsHosts>
                        <string>8.8.8.8</string>
                    </dnsHosts>
                    <volumes>
                        <string>/dev/log:/dev/log</string>
                    </volumes>
                    <volumesFrom></volumesFrom>
                    <bindPorts></bindPorts>
                    <bindAllPorts>false</bindAllPorts>
                    <bindSshPortLocalhost>true</bindSshPortLocalhost>
                    <privileged>true</privileged>
                    <labelString>dockerbuild-goruby</labelString>
                    <credentialsId>com.nirima.jenkins.plugins.docker.DockerCloud.dockerbuild</credentialsId>
                    <idleTerminationMinutes>5</idleTerminationMinutes>
                    <jvmOptions></jvmOptions>
                    <javaPath></javaPath>
                    <prefixStartSlaveCmd></prefixStartSlaveCmd>
                    <suffixStartSlaveCmd></suffixStartSlaveCmd>
                    <remoteFsMapping></remoteFsMapping>
                    <remoteFs>/home/jenkins</remoteFs>
                    <instanceCap>4</instanceCap>
                </com.nirima.jenkins.plugins.docker.DockerTemplate>
            </templates>
            <serverUrl>http://flakebuilds01.hursley.ibm.com:4243/</serverUrl>
            <containerCap>4</containerCap>
            <connectTimeout>5</connectTimeout>
            <readTimeout>15</readTimeout>
        </com.nirima.jenkins.plugins.docker.DockerCloud>
    </clouds>
</hudson>